@font-face {
  font-family: "Noka";
  src: url("../fonts/../fonts/Noka-Medium.woff2") format("woff2"), url("../fonts/../fonts/Noka-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Noka";
  src: url("../fonts/../fonts/Noka-Semibold.woff2") format("woff2"), url("../fonts/../fonts/Noka-Semibold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
}

/* HTML5 display-role reset for older browsers */

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*! jQuery UI - v1.13.0 - 2021-10-07
* http://jqueryui.com
* Includes: core.css, accordion.css, autocomplete.css, menu.css, button.css, controlgroup.css, checkboxradio.css, datepicker.css, dialog.css, draggable.css, resizable.css, progressbar.css, selectable.css, selectmenu.css, slider.css, sortable.css, spinner.css, tabs.css, tooltip.css, theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?bgShadowXPos=&bgOverlayXPos=&bgErrorXPos=&bgHighlightXPos=&bgContentXPos=&bgHeaderXPos=&bgActiveXPos=&bgHoverXPos=&bgDefaultXPos=&bgShadowYPos=&bgOverlayYPos=&bgErrorYPos=&bgHighlightYPos=&bgContentYPos=&bgHeaderYPos=&bgActiveYPos=&bgHoverYPos=&bgDefaultYPos=&bgShadowRepeat=&bgOverlayRepeat=&bgErrorRepeat=&bgHighlightRepeat=&bgContentRepeat=&bgHeaderRepeat=&bgActiveRepeat=&bgHoverRepeat=&bgDefaultRepeat=&iconsHover=url(%22images%2Fui-icons_555555_256x240.png%22)&iconsHighlight=url(%22images%2Fui-icons_777620_256x240.png%22)&iconsHeader=url(%22images%2Fui-icons_444444_256x240.png%22)&iconsError=url(%22images%2Fui-icons_cc0000_256x240.png%22)&iconsDefault=url(%22images%2Fui-icons_777777_256x240.png%22)&iconsContent=url(%22images%2Fui-icons_444444_256x240.png%22)&iconsActive=url(%22images%2Fui-icons_ffffff_256x240.png%22)&bgImgUrlShadow=&bgImgUrlOverlay=&bgImgUrlHover=&bgImgUrlHighlight=&bgImgUrlHeader=&bgImgUrlError=&bgImgUrlDefault=&bgImgUrlContent=&bgImgUrlActive=&opacityFilterShadow=Alpha(Opacity%3D30)&opacityFilterOverlay=Alpha(Opacity%3D30)&opacityShadowPerc=30&opacityOverlayPerc=30&iconColorHover=%23555555&iconColorHighlight=%23777620&iconColorHeader=%23444444&iconColorError=%23cc0000&iconColorDefault=%23777777&iconColorContent=%23444444&iconColorActive=%23ffffff&bgImgOpacityShadow=0&bgImgOpacityOverlay=0&bgImgOpacityError=95&bgImgOpacityHighlight=55&bgImgOpacityContent=75&bgImgOpacityHeader=75&bgImgOpacityActive=65&bgImgOpacityHover=75&bgImgOpacityDefault=75&bgTextureShadow=flat&bgTextureOverlay=flat&bgTextureError=flat&bgTextureHighlight=flat&bgTextureContent=flat&bgTextureHeader=flat&bgTextureActive=flat&bgTextureHover=flat&bgTextureDefault=flat&cornerRadius=3px&fwDefault=normal&ffDefault=Arial%2CHelvetica%2Csans-serif&fsDefault=1em&cornerRadiusShadow=8px&thicknessShadow=5px&offsetLeftShadow=0px&offsetTopShadow=0px&opacityShadow=.3&bgColorShadow=%23666666&opacityOverlay=.3&bgColorOverlay=%23aaaaaa&fcError=%235f3f3f&borderColorError=%23f1a899&bgColorError=%23fddfdf&fcHighlight=%23777620&borderColorHighlight=%23dad55e&bgColorHighlight=%23fffa90&fcContent=%23333333&borderColorContent=%23dddddd&bgColorContent=%23ffffff&fcHeader=%23333333&borderColorHeader=%23dddddd&bgColorHeader=%23e9e9e9&fcActive=%23ffffff&borderColorActive=%23003eff&bgColorActive=%23007fff&fcHover=%232b2b2b&borderColorHover=%23cccccc&bgColorHover=%23ededed&fcDefault=%23454545&borderColorDefault=%23c5c5c5&bgColorDefault=%23f6f6f6
* Copyright jQuery Foundation and other contributors; Licensed MIT */

/* Layout helpers
----------------------------------*/

.ui-slider .ui-slider-handle {
  cursor: pointer;
  touch-action: none;
}

.ui-slider .ui-slider-range {
  font-size: .7em;
  border: 0;
  background-position: 0 0;
}

/* support: IE8 - See #6727 */

.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
  filter: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: white;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

input,
button,
textarea {
  font-family: inherit;
}

ul {
  list-style: none;
}

.overlay {
  background: rgba(0, 0, 0, 0.85);
}

h1 {
  color: black;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

h2 {
  font-family: 'Noka', sans-serif;
  color: #333333;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
}

.header-search {
  background: #3374db;
}

.header .search-wrapper {
  background: white;
  border-radius: 4px;
}

.header .search-apply i {
  color: #c7c7c7;
  font-size: 26px;
}

.header .i-search {
  border: none;
  outline: none;
  background: transparent;
  color: #333333;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

.header .i-search::-moz-placeholder {
  color: #c7c7c7;
}

.header .i-search:-ms-input-placeholder {
  color: #c7c7c7;
}

.header .i-search::placeholder {
  color: #c7c7c7;
}

.header .postal-wrapper {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.header .postal__trigger span {
  color: white;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.25;
}

.header .postal__trigger i {
  color: white;
  font-size: 14px;
}

.nav__link {
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  opacity: 0.85;
}

.nav__link:hover {
  opacity: 1;
}

.nav__link.active {
  color: #3374db;
  font-weight: 500;
  opacity: 1;
}

.nav .dropdown__trigger span {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  opacity: 0.85;
}

.nav .dropdown__trigger i {
  color: black;
  font-size: 19px;
  font-weight: 700;
}

.nav .dropdown__trigger:hover span {
  opacity: 1;
}

.nav .dropdown__trigger.active span {
  color: #3374db;
  opacity: 1;
  text-shadow: 0 0 .05px currentColor, 0 0 .05px currentColor;
}

.nav .dropdown__trigger.active i {
  color: #3374db;
}

.nav .dropdown-list {
  background: white;
  box-shadow: 0 0.063rem 0.313rem 0 rgba(70, 70, 70, 0.15), 0 0.125rem 0.125rem 0 rgba(70, 70, 70, 0.15), 0 0.188rem 0.125rem -0.125rem rgba(70, 70, 70, 0.15);
  border-radius: 6px;
}

.nav .dropdown-list.active {
  display: block;
}

.nav .dropdown__link {
  padding: 8px;
  display: flex;
  align-items: center;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  white-space: nowrap;
  opacity: 0.85;
  border-radius: 6px;
  text-decoration: none;
}

.nav .dropdown__link:hover {
  color: white;
  text-shadow: 0 0 .05px currentColor, 0 0 .05px currentColor;
  background: #3374db;
  opacity: 1;
}

.nav .dropdown__link:focus {
  text-shadow: 0 0 .05px currentColor, 0 0 .05px currentColor;
  background: #c7c7c7;
  opacity: 1;
}

.nav .dropdown__link:focus:hover {
  color: #333333;
}

.nav .dropdown__link:active {
  text-shadow: 0 0 .05px currentColor, 0 0 .05px currentColor;
  background: #c7c7c7;
  opacity: 1;
}

.nav .dropdown__link:active:hover {
  color: #333333;
}

.user .dropdown__trigger svg {
  fill: black;
}

.user .dropdown__trigger span {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  opacity: 0.85;
}

.user .dropdown__trigger:hover span {
  opacity: 1;
}

.user .dropdown__trigger.active span {
  color: #3374db;
  text-shadow: 0 0 .05px currentColor, 0 0 .05px currentColor;
  opacity: 1;
}

.user .dropdown__trigger.active svg {
  fill: #3374db;
}

.burger__line::before {
  background: black;
  border-radius: 10px;
}

.burger__line::after {
  background: black;
  border-radius: 10px;
}

.modal {
  background: white;
  border-radius: 6px;
}

.modal-close i {
  color: #333333;
  font-size: 16px;
}

.modal-header h4 {
  color: #333333;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
}

.modal-main {
  background: #e9eef7;
}

.modal-table::before {
  background: #e9eef7;
}

.modal-wrapper h5 {
  color: #333333;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
}

.modal-wrapper p {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
}

.modal__link {
  color: #3374db;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  text-decoration: none;
}

.modal__link:hover {
  text-decoration: underline;
}

.form-location label {
  color: #898989;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

.form-location .input-wrapper {
  background: white;
}

.form-location .input-wrapper input {
  outline: none;
  border: none;
  background: transparent;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

.form-location .input-wrapper input::-moz-placeholder {
  opacity: 0.8;
}

.form-location .input-wrapper input:-ms-input-placeholder {
  opacity: 0.8;
}

.form-location .input-wrapper input::placeholder {
  opacity: 0.8;
}

.form-submit {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  border-radius: 8px;
  background: white;
  border: 1px solid black;
}

.form-submit:hover {
  background: black;
  color: white;
}

.form-submit:disabled {
  cursor: default;
  background: #e9e9e9;
  color: #898989;
  border-color: transparent;
}

.ayuda .dropdown__trigger {
  background: black;
  border-radius: 24px;
}

.ayuda .dropdown__trigger span {
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
}

.ayuda .dropdown__trigger:hover {
  background: white;
  box-shadow: 0 0.063rem 0.313rem 0 rgba(70, 70, 70, 0.15), 0 0.125rem 0.125rem 0 rgba(70, 70, 70, 0.15), 0 0.188rem 0.125rem -0.125rem rgba(70, 70, 70, 0.15);
}

.ayuda .dropdown__trigger:hover span {
  color: black;
}

.ayuda .dropdown-list {
  background: white;
  border-radius: 6px;
  box-shadow: 0 0.75rem 0.75rem 0 rgba(70, 70, 70, 0.15), 0 0.125rem 0.125rem 0 rgba(70, 70, 70, 0.15), 0 0.188rem 0.125rem -0.125rem rgba(70, 70, 70, 0.15);
}

.ayuda .dropdown-list .close i {
  color: black;
  font-size: 16px;
}

.ayuda .dropdown__link {
  text-decoration: none;
  border-bottom: 1px solid #c7c7c7;
}

.ayuda .dropdown__link span {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
}

.footer {
  background: black;
}

.footer-bottom {
  border-top: 2px solid white;
}

.footer-bottom h2 {
  font-family: 'Noka', sans-serif;
  color: white;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
}

.footer-bottom p {
  color: white;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.5;
}

.footer-bottom p a {
  color: white;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.9;
}

.footer__link {
  color: white;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  text-decoration: none;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer .favorite-item:not(:last-child)::after {
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.75;
}

.footer .favorite__link {
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.75;
  text-decoration: none;
}

.footer .favorite__link:hover {
  text-decoration: underline;
}

.footer .copyright {
  border-top: 0.5px solid white;
}

.footer .copyright address {
  color: white;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.9;
}

.footer .privacy-item {
  color: white;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.9;
}

.footer .privacy-item:not(:first-child)::before {
  color: white;
}

.footer .privacy-item span {
  color: white;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.9;
}

.footer .privacy__link {
  color: white;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.9;
  text-decoration: none;
}

.footer .privacy__link:hover {
  text-decoration: underline;
}

.footer .social__link {
  background: white;
  border-radius: 100px;
  text-decoration: none;
}

.footer .social__link i {
  color: black;
  font-size: 18px;
}

.hero {
  background: white;
}

.hero p {
  color: black;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

.filters-info {
  background: white;
}

.filters__trigger span {
  color: #333333;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
}

.filters__reset {
  color: #898989;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
}

.filters__reset:hover {
  text-decoration: underline;
}

.sort {
  background: white;
}

.sort .result {
  color: #898989;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
}

.sort .dropdown__trigger {
  color: black;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
}

.sort .dropdown__trigger span {
  color: #3374db;
  font-weight: 400;
}

.sort .dropdown__trigger i {
  color: #3374db;
  font-weight: 700;
  font-size: 16px;
}

.sort .dropdown-list {
  background: white;
  border-radius: 6px;
  box-shadow: 0 2px 16px 1px rgba(0, 0, 0, 0.15), 0 6px 10px 1px rgba(70, 70, 70, 0.15), 0 4px 5px -2px rgba(70, 70, 70, 0.15);
}

.sort .dropdown-item {
  cursor: pointer;
}

.sort .dropdown-item:not(:last-child)::before {
  background: #c7c7c7;
  opacity: 0.5;
}

.sort-btn {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 6px;
}

.sort-btn.active {
  background: #e9e9e9;
}

.sort-btn:hover {
  background: #3374db;
  color: white;
}

.mobile-filters__link {
  text-decoration: none;
  color: #333333;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.2;
}

.mobile-filters__link:hover {
  text-decoration: underline;
}

.mobile-filters .filters__trigger {
  background: #e9eef7;
  border-radius: 6px;
}

.mobile-filters .filters__trigger span {
  color: #3374db;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
}

.filters {
  background: white;
}

.filters::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px transparent;
}

.filters::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.filters::-webkit-scrollbar-thumb:window-inactive {
  background: #d6d6d6;
}

.filters:hover::-webkit-scrollbar-thumb {
  background: #c7c7c7;
  -webkit-box-shadow: inset 0 0 6px #c7c7c7;
}

.filters.active {
  display: block;
}

.filters-header {
  background: white;
}

.filters-header span {
  color: #333333;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
}

.filters-header .filters__trigger i {
  color: #333333;
  font-size: 16px;
}

.filters-footer {
  background: white;
}

.filters-apply {
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  background: black;
  border-radius: 8px;
  border: 1px solid black;
}

.filters-apply:hover {
  color: #333333;
  background: white;
}

.filters-wrapper {
  border-top: 1px solid #c7c7c7;
}

.filters .dropdown__trigger span {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

.filters .dropdown__trigger i {
  color: #3374db;
  font-size: 16px;
  font-weight: 700;
}

.filters .search-wrapper i {
  color: #c7c7c7;
  font-size: 24px;
}

.filters .i-search {
  border: none;
  outline: none;
  background: transparent;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.45;
  border-bottom: 1px solid #c7c7c7;
}

.filters .i-search::-moz-placeholder {
  color: #c7c7c7;
}

.filters .i-search:-ms-input-placeholder {
  color: #c7c7c7;
}

.filters .i-search::placeholder {
  color: #c7c7c7;
}

.filters .i-search:focus {
  border-color: #3374db;
}

.filters .i-search:focus ~ i {
  color: #3374db;
}

.filters-item {
  cursor: pointer;
}

.filters-item .title {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}

.brand__trigger {
  border-radius: 6px;
}

.brand__trigger label {
  border: none;
  border-radius: 6px;
}

.brand__trigger label.active {
  color: #333333;
  background: #3374db;
}

.brand__trigger label:hover {
  background: transparent;
}

.brand__trigger label:active {
  background: #3374db;
  color: #333333;
}

.more__trigger span {
  color: #3374db;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
}

.more__trigger i {
  color: #3374db;
  font-size: 16px;
  font-weight: 700;
}

.checkbox-item.color .checkbox-custom-label::before {
  border-radius: 100px;
}

.checkbox-item.amarillo .checkbox-custom-label::before {
  background: #fffb66;
}

.checkbox-item.azul .checkbox-custom-label::before {
  background: #183d64;
}

.checkbox-item.beige .checkbox-custom-label::before {
  background: #efce9a;
}

.checkbox-item.blanco .checkbox-custom-label::before {
  background: white;
  border: 1px solid #5b5b5b;
}

.checkbox-item.cafe .checkbox-custom-label::before {
  background: #795c32;
}

.checkbox-item.dorado .checkbox-custom-label::before {
  background: #efc870;
}

.checkbox-item.gris .checkbox-custom-label::before {
  background: gray;
}

.checkbox-item.morado .checkbox-custom-label::before {
  background: #b05fb2;
}

.checkbox-item.naranja .checkbox-custom-label::before {
  background: #ea6c20;
}

.checkbox-item.negro .checkbox-custom-label::before {
  background: black;
}

.checkbox-item.otro .checkbox-custom-label::before {
  background: transparent;
}

.checkbox-item.plateado .checkbox-custom-label::before {
  background: silver;
}

.checkbox-item.rojo .checkbox-custom-label::before {
  background: #f40706;
}

.checkbox-item.verde .checkbox-custom-label::before {
  background: #b7bc60;
}

.checkbox-custom {
  opacity: 0;
}

.checkbox-custom-label {
  border-radius: 8px;
  color: #5b5b5b;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  cursor: pointer;
  border: 1px solid #c7c7c7;
}

.checkbox-custom-label:hover {
  background: rgba(233, 233, 233, 0.5);
}

.checkbox-custom-label:active {
  background: #3374db;
  color: white;
}

.checkbox-custom:checked + .checkbox-custom-label {
  background: #3374db;
  color: white;
}

.range-result .result-wrapper {
  border: 1px solid #c7c7c7;
  border-radius: 6px;
}

.range-result .result-wrapper::before {
  opacity: 0.8;
}

.range-result input {
  background: transparent;
  border: none;
  outline: none;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}

.ui-slider-horizontal .ui-slider-handle {
  background: #3374db;
  border: 3px solid white;
}

.ui-slider-horizontal .ui-slider-handle:focus-visible {
  outline: none;
}

.ui-widget.ui-widget-content {
  border: none;
  background: #c7c7c7;
}

.ui-widget-header {
  background: #3374db;
}

.ui-slider .ui-slider-handle {
  border-radius: 100px;
}

.ui-slider .ui-slider-handle:focus {
  box-shadow: 0 0 10px 1px #3374db;
}

.ui-slider .ui-slider-handle:active {
  box-shadow: 0 0 10px 1px #3374db;
}

.active-btn {
  border: 1px solid #3374db;
  border-radius: 6px;
}

.active-btn span {
  color: #3374db;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
}

.active-btn i {
  color: #3374db;
  font-size: 12px;
}

.active-btn:hover {
  border-color: #80a6ff;
  background: #e9eef7;
}

.active-btn:hover span,
.active-btn:hover i {
  color: #80a6ff;
}

.product .card {
  background: white;
  text-decoration: none;
  border-radius: 6px;
  box-shadow: 0 1px 5px 0 rgba(70, 70, 70, 0.15), 0 2px 2px 0 rgba(70, 70, 70, 0.15), 0 3px 2px -2px rgba(70, 70, 70, 0.15);
}

.product .card:hover {
  box-shadow: 0 6px 10px 1px rgba(70, 70, 70, 0.15), 0 4px 5px -2px rgba(70, 70, 70, 0.15);
}

.product .card h3 {
  color: #333333;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
}

.product .card-description span {
  color: #898989;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.25;
}

.product .card .stats-item {
  color: #333333;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
}

.product .card .stats-item:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.product .card .stats-item span {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

.product .card .price {
  color: #3374db;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

.pagination-item span {
  color: black;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
}

.pagination__link {
  border-radius: 4px;
  text-decoration: none;
}

.pagination__link i {
  font-size: 16px;
  font-weight: 700;
  color: black;
}

.pagination__link .icon-arrow-double {
  font-size: 20px;
}

.pagination__link.black {
  background: black;
}

.pagination__link.black i {
  color: white;
}

.recomendations .card {
  border: 1px solid #c7c7c7;
  border-radius: 6px;
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

.recomendations .card:hover {
  color: white;
  background: #3374db;
  border-color: #3374db;
}

.recomendations .card:focus {
  background: #e9e9e9;
  border-color: #e9e9e9;
}

.recomendations .card:focus:hover {
  color: #333333;
}

.info p {
  color: black;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

@media screen and (max-width: 991px) {
  .main .container {
    border-radius: 16px 16px 0 0;
  }

  .header-main.fixed {
    background: white;
    box-shadow: 0 0.063rem 0.313rem 0 rgba(70, 70, 70, 0.15), 0 0.125rem 0.125rem 0 rgba(70, 70, 70, 0.15), 0 0.188rem 0.125rem -0.125rem rgba(70, 70, 70, 0.15);
  }

  .nav {
    background: white;
  }

  .nav-item {
    border-bottom: 1px solid #c7c7c7;
  }

  .nav .dropdown-list {
    border-radius: 0;
  }

  .user {
    border-bottom: 1px solid #c7c7c7;
  }

  .sort-header span {
    color: #333333;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
  }

  .sort-header .sort__trigger i {
    color: #333333;
    font-size: 16px;
  }

  .sort .dropdown-list {
    background: white;
  }

  .filters {
    background: white;
  }
}

@media screen and (max-width: 767px) {
  .main .container {
    background: white;
  }

  .main::before {
    background: #3374db;
  }
}

@media screen and (max-width: 575px) {
  h2 {
    font-size: 28px;
  }

  .hero {
    border-radius: 16px 16px 0 0;
  }
}

@media screen and (max-width: 359px) {
  .header .i-search::-moz-placeholder {
    font-size: 14px;
  }

  .header .i-search:-ms-input-placeholder {
    font-size: 14px;
  }

  .header .i-search::placeholder {
    font-size: 14px;
  }
}