@charset "UTF-8";
.col-xs-12 {
  flex: 0 0 100.0%;
  max-width: 100.0%;
  padding: 0 20px;
}

.row {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -20px;
}

.p-20 {
  padding: 20px;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?za7rqb");
  src: url("../fonts/icomoon.eot?za7rqb#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?za7rqb") format("truetype"), url("../fonts/icomoon.woff?za7rqb") format("woff"), url("../fonts/icomoon.svg?za7rqb#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e90f";
}

.icon-pinterest:before {
  content: "\e90e";
}

.icon-location:before {
  content: "\e90d";
}

.icon-search:before {
  content: "\e90b";
}

.icon-filter:before {
  content: "\e901";
}

.icon-arrow-dropdown:before {
  content: "\e902";
}

.icon-arrow-double:before {
  content: "\e903";
}

.icon-arrow:before {
  content: "\e904";
}

.icon-tiktok:before {
  content: "\e905";
}

.icon-linkedin:before {
  content: "\e906";
}

.icon-twitter:before {
  content: "\e907";
}

.icon-youtube:before {
  content: "\e908";
}

.icon-instagram:before {
  content: "\e909";
}

.icon-facebook:before {
  content: "\e900";
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/*! jQuery UI - v1.13.0 - 2021-10-07
* http://jqueryui.com
* Includes: core.css, accordion.css, autocomplete.css, menu.css, button.css, controlgroup.css, checkboxradio.css, datepicker.css, dialog.css, draggable.css, resizable.css, progressbar.css, selectable.css, selectmenu.css, slider.css, sortable.css, spinner.css, tabs.css, tooltip.css, theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?bgShadowXPos=&bgOverlayXPos=&bgErrorXPos=&bgHighlightXPos=&bgContentXPos=&bgHeaderXPos=&bgActiveXPos=&bgHoverXPos=&bgDefaultXPos=&bgShadowYPos=&bgOverlayYPos=&bgErrorYPos=&bgHighlightYPos=&bgContentYPos=&bgHeaderYPos=&bgActiveYPos=&bgHoverYPos=&bgDefaultYPos=&bgShadowRepeat=&bgOverlayRepeat=&bgErrorRepeat=&bgHighlightRepeat=&bgContentRepeat=&bgHeaderRepeat=&bgActiveRepeat=&bgHoverRepeat=&bgDefaultRepeat=&iconsHover=url(%22images%2Fui-icons_555555_256x240.png%22)&iconsHighlight=url(%22images%2Fui-icons_777620_256x240.png%22)&iconsHeader=url(%22images%2Fui-icons_444444_256x240.png%22)&iconsError=url(%22images%2Fui-icons_cc0000_256x240.png%22)&iconsDefault=url(%22images%2Fui-icons_777777_256x240.png%22)&iconsContent=url(%22images%2Fui-icons_444444_256x240.png%22)&iconsActive=url(%22images%2Fui-icons_ffffff_256x240.png%22)&bgImgUrlShadow=&bgImgUrlOverlay=&bgImgUrlHover=&bgImgUrlHighlight=&bgImgUrlHeader=&bgImgUrlError=&bgImgUrlDefault=&bgImgUrlContent=&bgImgUrlActive=&opacityFilterShadow=Alpha(Opacity%3D30)&opacityFilterOverlay=Alpha(Opacity%3D30)&opacityShadowPerc=30&opacityOverlayPerc=30&iconColorHover=%23555555&iconColorHighlight=%23777620&iconColorHeader=%23444444&iconColorError=%23cc0000&iconColorDefault=%23777777&iconColorContent=%23444444&iconColorActive=%23ffffff&bgImgOpacityShadow=0&bgImgOpacityOverlay=0&bgImgOpacityError=95&bgImgOpacityHighlight=55&bgImgOpacityContent=75&bgImgOpacityHeader=75&bgImgOpacityActive=65&bgImgOpacityHover=75&bgImgOpacityDefault=75&bgTextureShadow=flat&bgTextureOverlay=flat&bgTextureError=flat&bgTextureHighlight=flat&bgTextureContent=flat&bgTextureHeader=flat&bgTextureActive=flat&bgTextureHover=flat&bgTextureDefault=flat&cornerRadius=3px&fwDefault=normal&ffDefault=Arial%2CHelvetica%2Csans-serif&fsDefault=1em&cornerRadiusShadow=8px&thicknessShadow=5px&offsetLeftShadow=0px&offsetTopShadow=0px&opacityShadow=.3&bgColorShadow=%23666666&opacityOverlay=.3&bgColorOverlay=%23aaaaaa&fcError=%235f3f3f&borderColorError=%23f1a899&bgColorError=%23fddfdf&fcHighlight=%23777620&borderColorHighlight=%23dad55e&bgColorHighlight=%23fffa90&fcContent=%23333333&borderColorContent=%23dddddd&bgColorContent=%23ffffff&fcHeader=%23333333&borderColorHeader=%23dddddd&bgColorHeader=%23e9e9e9&fcActive=%23ffffff&borderColorActive=%23003eff&bgColorActive=%23007fff&fcHover=%232b2b2b&borderColorHover=%23cccccc&bgColorHover=%23ededed&fcDefault=%23454545&borderColorDefault=%23c5c5c5&bgColorDefault=%23f6f6f6
* Copyright jQuery Foundation and other contributors; Licensed MIT */

/* Layout helpers
----------------------------------*/

.ui-slider {
  position: relative;
  text-align: left;
}

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
}

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  display: block;
}

/* support: IE8 - See #6727 */

.ui-slider-horizontal {
  height: .8em;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -.3em;
  margin-left: -.6em;
}

.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

.ui-slider-vertical {
  width: .8em;
  height: 100px;
}

.ui-slider-vertical .ui-slider-handle {
  left: -.3em;
  margin-left: 0;
  margin-bottom: -.6em;
}

.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
}

.ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}

.ui-slider-vertical .ui-slider-range-max {
  top: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

body.lock {
  overflow: hidden;
}

img {
  max-width: 100%;
}

button {
  padding: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

ul {
  padding: 0;
}

.site-container {
  margin: 0 auto;
}

.is-hidden {
  display: none !important;
}

.is-visible {
  display: block;
}

.mobile {
  display: none;
}

.lock {
  overflow: hidden;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.overlay {
  display: none;
  z-index: 70;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay.active {
  display: block;
}

.main .container {
  padding-top: 8px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  min-width: 112px;
  max-width: 112px;
  min-height: 30px;
}

.header-main {
  padding: 27px 0;
}

.header-search {
  padding: 8px 0;
}

.header-search.fixed {
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header .search-wrapper {
  max-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.header .search-apply {
  padding: 4px 16px 4px 8px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .i-search {
  padding: 8px 8px 8px 16px;
  height: 56px;
  width: 100%;
  padding-right: 8px;
}

.header .postal-wrapper {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.header .postal__trigger {
  display: flex;
  align-items: center;
  padding: 8px;
  white-space: nowrap;
}

.header .postal__trigger i {
  margin-right: 4px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-container {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-item {
  margin-right: 32px;
}

.nav__link {
  display: flex;
  align-items: center;
}

.nav__link svg {
  max-width: 24px;
  max-height: 24px;
  margin-right: 8px;
}

.nav .dropdown {
  position: relative;
}

.nav .dropdown__trigger {
  display: flex;
  align-items: center;
}

.nav .dropdown__trigger i {
  margin-left: 8px;
  transform: rotate(-90deg);
}

.nav .dropdown__trigger.active i {
  transform: rotate(90deg);
}

.nav .dropdown-list {
  display: none;
  z-index: 60;
  position: absolute;
  top: calc(100% + .5rem);
  right: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 16px;
}

.nav .dropdown-list.active {
  display: block;
}

.nav .dropdown__link {
  padding: 8px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.user {
  position: relative;
  margin-left: 16px;
}

.user .dropdown__trigger {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.user .dropdown__trigger svg {
  margin-right: 8px;
}

.burger {
  position: relative;
  max-width: 24px;
  max-height: 24px;
  min-width: 24px;
  min-height: 24px;
}

.burger-wrapper {
  display: none;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.burger__line::before {
  content: '';
  position: absolute;
  top: 7px;
  left: 0;
  width: 100%;
  height: 2px;
}

.burger__line::after {
  content: '';
  position: absolute;
  bottom: 7px;
  left: 0;
  width: 100%;
  height: 2px;
}

.burger.active .burger__line::after {
  top: 50%;
  transform: rotate(-45deg);
}

.burger.active .burger__line::before {
  top: 50%;
  transform: rotate(45deg);
}

.popup {
  max-width: 380px;
  padding: 0 15px;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 90;
  display: none;
  align-items: center;
  justify-content: center;
}

.popup.active {
  display: flex;
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 56px 0 16px;
}

.modal-close {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 8px;
}

.modal-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.modal-header h4 {
  max-width: 190px;
  margin: 16px 0 8px;
}

.modal-main {
  width: 100%;
  margin-top: 16px;
  padding: 16px 0;
}

.modal-table {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
  margin: 16px -16px;
}

.modal-table::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 2px;
  height: 100%;
}

.modal-wrapper {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.modal-wrapper h5 {
  margin-bottom: 8px;
}

.modal__link {
  display: block;
  text-align: center;
}

.form-location {
  max-width: 228px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-location label {
  margin-bottom: 4px;
}

.form-location .input-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  height: 40px;
}

.form-location .input-wrapper input {
  width: 100%;
  padding: 8px;
}

.form-location .input-wrapper .icon {
  display: none;
  padding: 12px 8px 8px;
}

.form-wrapper {
  margin: 24px 0 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper .icon {
  width: 19.19px;
  height: 19.19px;
  margin-bottom: 2px;
  margin-right: 4px;
}

.form-submit {
  width: 100%;
  height: 46px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ayuda {
  position: fixed;
  right: 16px;
  bottom: 16px;
}

.ayuda .dropdown__trigger {
  width: 154px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
}

.ayuda .dropdown__trigger span {
  margin-left: 8px;
}

.ayuda .dropdown__trigger .icon {
  width: 20.8px;
  height: 20.8px;
}

.ayuda .dropdown__trigger .icon-hover {
  width: 20.8px;
  height: 20.8px;
  display: none;
}

.ayuda .dropdown__trigger:hover .icon {
  display: none;
}

.ayuda .dropdown__trigger:hover .icon-hover {
  display: block;
}

.ayuda .dropdown-list {
  width: 284px;
  padding: 16px;
  z-index: 20;
  position: fixed;
  bottom: 16px;
  right: 16px;
  display: none;
}

.ayuda .dropdown-list.active {
  display: block;
}

.ayuda .dropdown-list .close {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.ayuda .dropdown__link {
  display: flex;
  align-items: center;
  padding: 18px 0;
}

.ayuda .dropdown__link .icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.footer {
  margin-top: 16px;
  padding: 32px 0;
}

.footer .logo {
  margin-top: 8px;
  display: block;
  max-width: 100px;
  min-width: 100px;
}

.footer-bottom {
  padding-top: 24px;
}

.footer-bottom h2 {
  margin-bottom: 8px;
}

.footer__link {
  display: block;
}

.footer__link:not(:last-child) {
  margin-bottom: 24px;
}

.footer .favorite-list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
}

.footer .favorite-item {
  display: flex;
  align-items: flex-start;
}

.footer .favorite-item:not(:last-child)::after {
  content: '/';
  margin: 4px 3px 0;
}

.footer .favorite__link {
  display: block;
  padding: 4px 0;
  margin-bottom: 4px;
}

.footer .copyright {
  padding: 24px 16px;
}

.footer .copyright address {
  margin-top: 16px;
}

.footer .privacy-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer .privacy-item:not(:first-child)::before {
  content: '·';
  margin: 0 8px;
}

.footer .privacy__link {
  padding: 4px 0;
  margin-right: 4px;
}

.footer .social-media {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-start;
  margin-top: 48px;
  padding-left: 16px;
}

.footer .social-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 16px 16px 0 0;
}

.footer .social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin: 0 0 32px;
}

.footer .social__link:not(:last-child) {
  margin-right: 16px;
}

.footer .social__link svg {
  max-width: 24px;
}

.footer .payment-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer .payment__link {
  display: block;
  max-width: 110px;
  min-width: 110px;
  max-height: 36px;
  margin-bottom: 32px;
}

.footer .payment__link img {
  width: 100%;
  height: 100%;
}

.footer .payment__link:not(:last-child) {
  margin-right: 16px;
}

.hero {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 16px 0 16px;
}

.hero .container {
  padding: 0;
}

.hero h1 {
  margin-bottom: 16px;
}

.hero p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.filters-info {
  flex: 0 0 24%;
  max-width: 24%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 16px 10px 16px 0;
  z-index: 47;
  position: sticky;
  position: -webkit-sticky;
  top: 71px;
  right: 0;
}

.filters__trigger {
  display: flex;
  align-items: center;
}

.filters__trigger span {
  margin-left: 8px;
}

.filters__trigger kavak-svg::before {
  display: none;
}

.sort {
  flex: 0 0 76%;
  max-width: 76%;
  padding: 16px 0 16px 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  z-index: 47;
  position: sticky;
  position: -webkit-sticky;
  top: 71px;
  left: 0;
}

.sort-header {
  display: none;
}

.sort .result {
  flex: 0 0 50%;
  max-width: 50%;
}

.sort .dropdown {
  flex: 0 0 50%;
  max-width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sort .dropdown__trigger {
  display: flex;
  align-items: center;
}

.sort .dropdown__trigger span {
  margin: 0 8px 0 4px;
}

.sort .dropdown__trigger i {
  transform: rotate(-90deg);
}

.sort .dropdown-list {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 165px;
  padding: 16px 0;
}

.sort .dropdown-list.active {
  display: block;
}

.sort .dropdown-item {
  position: relative;
  margin: 0 16px;
}

.sort .dropdown-item:not(:last-child)::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
}

.sort-btn {
  width: 100%;
  text-align: left;
  padding: 4px 8px;
}

.mobile-filters {
  display: none;
  flex: 0 0 100%;
  max-width: 100%;
}

.mobile-filters__link {
  display: block;
  margin-bottom: 16px;
}

.mobile-filters .filters-list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
  margin: -4px;
  padding-bottom: 16px;
}

.mobile-filters .filters-item {
  flex: 0 0 auto;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 4px;
}

.mobile-filters .filters__trigger {
  padding: 10px 12px;
}

.mobile-filters .filters__trigger span {
  margin: 0;
}

.filters {
  display: none;
  flex: 0 0 24%;
  max-width: 24%;
  max-height: calc(100vh - 120px);
  padding-bottom: 96px;
  overflow-y: scroll;
  position: sticky;
  position: -webkit-sticky;
  top: 120px;
  left: 0;
}

.filters::-webkit-scrollbar {
  width: 4px;
}

.filters.active {
  display: block;
}

.filters-header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.filters-footer {
  z-index: 20;
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 8px 0;
}

.filters-apply {
  max-width: 688px;
  padding: 8px;
  margin: 0 auto;
  width: 100%;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filters-table {
  padding-right: 16px;
}

.filters .dropdown-list {
  display: none;
  padding-bottom: 24px;
  padding-left: 4px;
}

.filters .dropdown-list.active {
  display: block;
}

.filters .dropdown__trigger {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 8px;
}

.filters .dropdown__trigger i {
  transform: rotate(-90deg);
}

.filters .dropdown__trigger.active i {
  transform: rotate(90deg);
}

.filters .search-wrapper {
  position: relative;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filters .search-wrapper i {
  position: absolute;
  right: 4px;
  padding: 4px;
}

.filters .i-search {
  width: 100%;
  padding: 8px 44px 8px 8px;
}

.filters-item {
  display: flex;
  align-items: center;
  padding: 16px 8px;
}

.brand-item.hide {
  display: none;
}

.brand__trigger {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 4px 0;
  padding: 0;
}

.brand__trigger label {
  width: 100%;
  padding: 0;
  padding: 12px 8px 12px 12px;
}

.brand__trigger label img {
  margin: 0;
  max-width: 24px;
  min-width: 24px;
  width: 24px;
  margin-right: 8px;
}

.brand-list {
  display: none;
}

.brand-list.active {
  display: block;
}

.more__trigger {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 16px 8px;
}

.more__trigger i {
  transform: rotate(-90deg);
  margin-left: 8px;
}

.more__trigger.active i {
  transform: rotate(90deg);
}

.more-list {
  display: none;
}

.more-list.active {
  display: block;
}

.checkbox-table {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
  margin: -4px;
}

.checkbox-item {
  flex: 0 0 auto;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 4px;
}

.checkbox-item.color .checkbox-custom-label::before {
  content: '';
  width: 20px;
  height: 20px;
  margin-right: 8px;
  margin-bottom: 1px;
}

.checkbox-custom {
  position: absolute;
}

.checkbox-custom-label {
  display: flex;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px;
}

.checkbox-custom-label img {
  max-width: 48px;
  min-width: 48px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.range-result {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 30px;
  padding: 0 8px 0 4px;
}

.range-result .result-wrapper {
  display: flex;
  align-items: center;
  min-width: 132px;
  max-width: 132px;
  height: 40px;
  padding: 6px 8px;
}

.range-result .result-wrapper::before {
  content: '$';
}

.range-result .result-wrapper.km::before {
  content: 'Km';
}

.range-result input {
  padding: 0;
  width: 100%;
  text-align: right;
}

.range-result input::-webkit-inner-spin-button,
.range-result input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.range-result input {
  -moz-appearance: textfield;
}

.range-result input:hover,
.range-result input:focus {
  -moz-appearance: number-input;
}

.range-result input::-webkit-outer-spin-button,
.range-result input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ui-slider-horizontal {
  height: 6px;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -10px;
}

.ui-slider-horizontal {
  margin-bottom: 15px;
  margin-left: 14px;
  width: calc(100% - 36px);
}

.ui-slider .ui-slider-handle {
  width: 24px;
  height: 24px;
}

.active-list {
  display: none;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
  margin: -4px;
  padding: 16px 0 8px;
}

.active-item {
  flex: 0 0 auto;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 4px;
}

.active-btn {
  padding: 8px;
  display: flex;
  align-items: center;
}

.active-btn i {
  margin-left: 8px;
  margin-bottom: 0.5px;
}

.product {
  flex: 0 0 76%;
  max-width: 76%;
  padding-left: 10px;
  padding-right: 4px;
  margin-left: auto;
}

.product.active {
  flex: 0 0 100%;
  max-width: 100%;
}

.product.active .product-wrapper {
  flex: 0 0 25%;
  max-width: 25%;
}

.product-table {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
  margin: -8px;
}

.product-wrapper {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
  padding: 8px;
}

.product .card {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.product .card__image {
  max-width: 100%;
}

.product .card__image img {
  width: 100%;
  height: 100%;
}

.product .card-main {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  height: 100%;
}

.product .card h3 {
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.product .card-description {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 16px;
}

.product .card-description span {
  display: flex;
  align-items: flex-start;
}

.product .card-description span:not(:last-child)::after {
  content: '•';
  margin: 0 4px;
}

.product .card .stats-list {
  margin-bottom: 16px;
}

.product .card .stats-item {
  display: flex;
  align-items: flex-start;
}

.product .card .stats-item:not(:last-child) {
  padding-bottom: 4px;
  margin-bottom: 2px;
}

.product .card .stats-item span {
  display: flex;
  align-items: center;
}

.product .card .stats-item span::after {
  content: ':';
  margin: 0 3px;
}

.product .card .price {
  display: block;
  margin-top: auto;
}

.pagination {
  padding: 32px 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-list {
  display: flex;
  align-items: center;
}

.pagination-item.pages {
  padding: 0 16px;
}

.pagination__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.pagination__link.next i,
.pagination__link.last i {
  transform: rotate(180deg);
}

.recomendations .container {
  display: block;
}

.recomendations h2 {
  margin-bottom: 24px;
}

.recomendations-table {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
  margin: -8px;
}

.recomendations-wrapper {
  flex: 0 0 auto;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 8px;
}

.recomendations .card {
  display: block;
  padding: 16px 8px;
}

.info {
  padding: 64px 0 24px;
}

.info h2 {
  margin-bottom: 24px;
}

@media (min-width: 576px) {
  .col-sm-6 {
    flex: 0 0 50.0%;
    max-width: 50.0%;
    padding: 20px;
  }
}

@media (min-width: 768px) {
  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding: 20px;
  }
}

@media (min-width: 992px) {
  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    padding: 0 20px;
  }

  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    padding: 0 20px;
  }
}

@media screen and (max-width: 1399px) {
  .container {
    max-width: 1180px;
  }
}

@media screen and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }

  .user {
    margin-left: 24px;
  }

  .user .dropdown__trigger span {
    display: none;
  }

  .product.active .product-wrapper {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }

  .product-wrapper {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 720px;
  }

  .mobile {
    display: block;
  }

  .ayuda {
    display: none;
  }

  .header .logo {
    min-width: 76px;
    max-width: 76px;
    min-height: 20px;
    max-height: 20px;
  }

  .header-main {
    z-index: 99;
    padding: 18px 0;
  }

  .header-main.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  .header-main .container {
    position: relative;
    justify-content: center;
  }

  .header-search {
    padding: 16px 0;
  }

  .header-search .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .header .i-search {
    height: 40px;
    padding-left: 8px;
  }

  .header .search-apply {
    height: 40px;
    padding-right: 4px;
  }

  .header .postal-wrapper {
    margin: 16px 0 0;
  }

  .header .postal__trigger {
    padding: 0;
  }

  .burger-wrapper {
    display: block;
  }

  .nav {
    display: none;
    z-index: 99;
    position: fixed;
    top: 56px;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .nav.active {
    display: block;
  }

  .nav-container {
    margin: 0 auto;
    padding: 16px;
    max-width: 720px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-list {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .nav-item {
    width: 100%;
    padding: 16px 0;
  }

  .nav-item:not(:last-child) {
    margin: 0;
  }

  .nav .dropdown__trigger {
    width: 100%;
    justify-content: space-between;
  }

  .nav .dropdown-list {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    right: unset;
    box-shadow: none;
    padding: 16px 24px;
  }

  .nav .dropdown-list .nav__link {
    padding: 8px;
  }

  .nav__link {
    width: 100%;
  }

  .user {
    width: 100%;
    padding: 16px 0;
    margin-left: 0;
  }

  .user .dropdown__trigger {
    justify-content: flex-start;
  }

  .user .dropdown__trigger span {
    display: block;
  }

  .footer {
    padding: 32px 0;
  }

  .footer .container {
    max-width: 95%;
  }

  .footer .logo {
    margin: 16px 0 24px;
  }

  .order-1 {
    order: 1;
  }

  .order-2 {
    order: 2;
  }

  .order-3 {
    order: 3;
  }

  .hero {
    position: relative;
    top: 0;
  }

  .filters {
    position: relative;
    top: 0;
  }

  .filters-info {
    display: none;
  }

  .mobile-filters {
    display: block;
  }

  .sort {
    padding-left: 0;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    top: 0;
  }

  .sort-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
    margin: 0 16px;
  }

  .sort-btn {
    padding: 8px 8px 8px 0;
  }

  .sort-btn:hover {
    padding-left: 8px;
  }

  .sort-btn.active {
    padding-left: 8px;
  }

  .sort .dropdown-item {
    padding: 8px 0;
  }

  .sort .dropdown-list {
    border-radius: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .filters {
    max-height: 100%;
    padding: 52px 16px 96px;
    flex: 0 0 100%;
    max-width: 100%;
    z-index: 80;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  .filters-header {
    display: flex;
  }

  .filters-footer {
    display: block;
  }

  .filters-table {
    padding-right: 0;
  }

  .active-list {
    padding-top: 8px;
  }

  .product {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .product.active .product-wrapper {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .product-wrapper {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 100%;
  }

  .main {
    position: relative;
  }

  .main .container {
    z-index: 10;
  }

  .main::before {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
  }

  .header-main .container {
    max-width: 540px;
  }

  .nav-container {
    max-width: 540px;
  }

  .footer .copyright {
    padding: 24px 8px;
  }

  .footer .privacy-list {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer .privacy-item span {
    display: block;
  }

  .footer .privacy-item:first-child {
    margin-bottom: 16px;
  }

  .footer .privacy-item::before {
    display: none;
  }

  .footer .social-media {
    padding: 0;
    margin-top: 16px;
  }

  .footer .social-list {
    padding-top: 0;
  }

  .footer .justify-content-end {
    text-align: right;
  }

  .footer .pt-0 {
    padding-top: 0;
  }

  .footer .pb-24 {
    padding-bottom: 24px;
  }

  .footer .py-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 575px) {
  .main .container {
    padding: 0;
  }

  .header-main .container {
    max-width: 100%;
  }

  .footer .row {
    margin: 0;
  }

  .footer .col-xs-12 {
    padding-left: 0;
    padding-right: 0;
  }

  .footer .social-media {
    margin-top: 36px;
  }

  .footer .container {
    max-width: 100%;
  }

  .footer .justify-content-end {
    text-align: left;
  }

  .footer .order-2 {
    order: 3;
  }

  .footer .order-3 {
    order: 2;
  }

  .hero {
    padding: 16px 16px 0;
  }

  .sort {
    padding: 16px;
  }

  .product.active .product-wrapper {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .product-table {
    margin: 0;
  }

  .product-wrapper {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 8px 0;
  }

  .active-list {
    padding: 8px 16px;
  }

  .recomendations {
    padding: 0 16px;
  }

  .info {
    padding: 64px 16px 24px;
  }
}

@media screen and (max-width: 340px) {
  .footer .payment__link:not(:last-child) {
    margin-right: 0;
  }

  .footer .payment__link:nth-child(2n+1) {
    margin-right: 16px;
  }
}