<div class="accordions">
	<div class="accordions__title">Accordion Title <span class="accordions__icon"></span></div>
	<div class="accordions__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam aliquid quisquam repellendus error et tempore odit. Ex, distinctio et qui esse, ullam ipsam sunt laboriosam nisi vel adipisci repellendus architecto?</div>
	<div class="accordions__title">Accordion Title <span class="accordions__icon"></span></div>
	<div class="accordions__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam aliquid quisquam repellendus error et tempore odit. Ex, distinctio et qui esse, ullam ipsam sunt laboriosam nisi vel adipisci repellendus architecto?</div>
	<div class="accordions__title">Accordion Title <span class="accordions__icon"></span></div>
	<div class="accordions__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam aliquid quisquam repellendus error et tempore odit. Ex, distinctio et qui esse, ullam ipsam sunt laboriosam nisi vel adipisci repellendus architecto?</div>
</div>