// Accordion //
$accordion-bg: none;
$accordion-bg-active: none;
$accordion-border-radius: 0;
$accordion-width: 100%;

$accordion-title-color: rgb(255, 255, 255);
$accordion-title-color-active: rgb(255, 255, 255);
$accordion-title-bg: rgb(0, 0, 0);
$accordion-title-bg-active: rgb(0, 0, 0);
$accordion-title-border-radius: 20px;
$accordion-title-width: 100%;
$accordion-title-padding: 20px;

$accordion-text-color: rgb(0, 0, 0);
$accordion-text-bg: none;
$accordion-text-width: 100%;
$accordion-text-padding: 20px 20px;

$icon-accordion-transform: rotate(-180deg);

@mixin accordions {
  .accordion {
    &__item {
      background-color: $accordion-bg;
      border-radius: $accordion-border-radius;
      max-width: $accordion-width;
    }
    &__title {
      max-width: $accordion-title-width;
      padding: $accordion-title-padding;
      color: $accordion-title-color;
      background-color: $accordion-title-bg;
      border-radius: $accordion-title-border-radius;
      position: relative;
      cursor: pointer;
      .icon-accordion {
        display: none;
      }
    }
    &__text {
      max-width: $accordion-text-width;
      padding: $accordion-text-padding;
      color: $accordion-text-color;
      background-color: $accordion-text-bg;
      display: none;
    }
    &-active {
      .accordions__item {
        background-color: $accordion-bg-active;
      }
      .accordions__title {
        color: $accordion-title-color-active;
        background-color: $accordion-title-bg-active;
      }
      .accordion__text {
        display: block;
      }
      .icon-accordion {
        transform: $icon-accordion-transform;
      }
    }
  }
}