// Checkbox //
$checkmark-bg: rgb(0, 0, 0);
$checkmark-bg-hover: rgba(0, 0, 0, 0.3);
$checkmark-bg-active: rgb(255, 0, 0);
$checkmark-arrow: rgb(0, 0, 255);

$checkmark-width: 25px;
$checkmark-height: 25px;

$checkmark-arrow-top: 4px;
$checkmark-arrow-left: 8px;
$checkmark-arrow-width: 5px;
$checkmark-arrow-height: 10px;
$checkmark-border-width: 0 3px 3px 0;
$checkmark-transition: all 0.3s ease-in-out;
$checkmark-transition-arrow: all 0.1s ease-in-out;

$checkbox-font-size: 20px;
$checkbox-padding-left: 35px;
$checkbox-margin: 20px;

@mixin checkbox {
  .checkbox-container {
    display: block;
    position: relative;
    padding-left: $checkbox-padding-left;
    margin: $checkbox-margin;
    cursor: pointer;
    font-size: $checkbox-font-size;
    -webkit-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      &:checked ~ .checkmark {
        background-color: $checkmark-bg-active;
      }
      &:checked ~ .checkmark:after {
        opacity: 1;
        visibility: visible;
      }
    }
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: $checkmark-height;
      width: $checkmark-width;
      background-color: $checkmark-bg;
      transition: $checkmark-transition;
      &::after {
        content: "";
        position: absolute;
        opacity: 0;
        visibility: hidden;
        left: $checkmark-arrow-left;
        top: $checkmark-arrow-top;
        width: $checkmark-arrow-width;
        height: $checkmark-arrow-height;
        border: solid $checkmark-arrow;
        border-width: $checkmark-border-width;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        transition: $checkmark-transition-arrow;
      }
    }
    &:hover input ~ .checkmark {
      background-color: $checkmark-bg-hover;
    }
  }
}