.hero {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 16px 0 16px;
  background: $color-white;
  z-index: 48;
  position: sticky;
  top: 71px;
  left: 0;
  .container {
    padding: 0;
  }
  h1 {
    margin-bottom: 16px;
  }
  p {
    color: $color-black;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}

// Media 991px //
@media screen and (max-width: 991px) {
  .hero {
    position: relative;
    top: 0;
  }
}

// Media 575px //
@media screen and (max-width: 575px) {
  .hero {
    padding: 16px 16px 0;
    border-radius: 16px 16px 0 0;
  }
}