$breakpoint-grid-sm: 576px;
$breakpoint-grid-md: 768px;
$breakpoint-grid-lg: 992px;
$breakpoint-grid-xl: 1200px;

$breakpoint-sm: 575px;
$breakpoint-md: 767px;
$breakpoint-lg: 991px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1800px;

@function get-vh($object) {
  $vh: (1080 * 0.01) * 1px;
  @return ($object / $vh) * 1vh;
}

@function get-vw($object) {
  $vw: (1650 * 0.01) * 1px;
  @return ($object / $vw) * 1vw;
}

@mixin transition($time) {
  -webkit-transition: all $time + 0s ease-out;
  -moz-transition: all $time + 0s ease-out;
  -o-transition: all $time + 0s ease-out;
  transition: all $time + 0s ease-out;
}

@mixin text-ellipsis($strokes) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $strokes;
  -webkit-box-orient: vertical;
}

@mixin grid-size($size) {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 $size;
  -ms-flex: 0 0 $size;
  flex: 0 0 $size;
  max-width: $size;
}

@mixin fontSize($minSize, $maxSize) {
  font-size: $maxSize + 0px;
  font-size: -webkit-calc(#{$minSize + 0px} + (#{$maxSize} - #{$minSize}) * ((100vw - 300px) / (1900 - 300)));
  font-size: -moz-calc(#{$minSize + 0px} + (#{$maxSize} - #{$minSize}) * ((100vw - 300px) / (1900 - 300)));
  font-size: calc(#{$minSize + 0px} + (#{$maxSize} - #{$minSize}) * ((100vw - 300px) / (1900 - 300)));
}

@mixin order($number) {
  order: $number;
}

@mixin defaultIcon($size) {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: $size;
}

@for $i from 1 through 12 {
  .col-xs-#{$i} {
    @include grid-size(8.333333% * $i);
    padding: 0 20px;
  }
}

@media (min-width: ($breakpoint-grid-sm)) {
  @for $i from 1 through 12 {
    .col-sm-#{$i} {
      @include grid-size(8.333333% * $i);
      padding: 0 20px;
    }
  }
}

@media (min-width: ($breakpoint-grid-md)) {
  @for $i from 1 through 12 {
    .col-md-#{$i} {
      @include grid-size(8.333333% * $i);
      padding: 0 20px;
    }
  }
}

@media (min-width: ($breakpoint-grid-lg)) {
  @for $i from 1 through 12 {
    .col-lg-#{$i} {
      @include grid-size(8.333333% * $i);
      padding: 0 20px;
    }
  }
}

@media (min-width: ($breakpoint-grid-xl)) {
  @for $i from 1 through 12 {
    .col-xl-#{$i} {
      @include grid-size(8.333333% * $i);
      padding: 0 20px;
    }
  }
}


/* small phones grid*/
@media (max-width: (360px)) {
  @for $i from 1 through 12 {
    .col-exs-#{$i} {
      @include grid-size(8.333333% * $i);
      padding: 0 20px;
    }
  }
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
  @media (max-width: 1400px) {
    max-width: 1120px;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -15px;
}
.m-row {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
}
.d-flex {
  display: flex;
  flex-flow: row wrap;
}
.m-auto {
  display: block;
  margin: auto;
}
.m-0 {
  margin: 0;
}
.p-0 {
  padding: 0;
}
.ml-auto {
  margin-left: auto;
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.hidden-lg {
  @media (min-width: $breakpoint-lg) {
    display: none;
  }
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-12 {
  margin-bottom: 12px;
}
.mb-14 {
  margin-bottom: 14px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-18 {
  margin-bottom: 18px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-22 {
  margin-bottom: 22px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-50 {
  margin-bottom: 50px;
}
.align-self-middle {
  align-self: center;
}

.align-self-end {
  align-self: flex-end;
}

.align-center {
  justify-content: center;
}

.align-spaced {
  justify-content: space-around;
}

.align-middle {
  align-items: center;
}

.align-justify {
  justify-content: space-between;
}

.align-right {
  justify-content: flex-end;
}

.align-left {
  justify-content: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-start {
  align-items: flex-start;
}

.align-self-bottom {
  align-self: flex-end;
}

.align-content-justify {
  align-content: space-between;
}

.flex-column {
  flex-direction: column;
}
