// Colors //
$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);
$color-background: rgb(255, 255, 255);

$color-border: #c7c7c7;

$color-text: #333333;

$color-blue-1: #3374db;

$color-grey-1: #c7c7c7;
$color-grey-2: #5b5b5b;